.carousel {
  background: linear-gradient(to left, #F1F2B5, #135058);
  clear: both;
  &__item {
    width: 100%;
    counter-increment: gallery__cell;
    position: relative;
    &:before {
      display: block;
      text-align: center;
      content: counter(gallery__cell);
      line-height: 600px;
      font-size: 80px;
      color: white;
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: perspective(1px) translateY(-50%);
    text-align: center;
  }
}
