.gallery {
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
  &__item {
    margin-bottom: 24px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eee;
    overflow: hidden;
    transition: 0.2s ease-in-out all;
    & img {
      width: 100%;
      display: block;
      height: auto;
      transform: scale(1,1);
      &:hover {
        transition: 0.2s ease-in-out all;
        transform: scale(1.1,1.1);
      }
    }
  }
}
