/* ==========================================================================
 Global Elements.
========================================================================== */


/* Generic Global Elements
  ======================================================================= */

html {

}
body {

}
a {
  color: $generic-link-color;
  text-decoration: none;
  &:hover {
    color: $generic-link-hover-color;
    text-decoration: underline;
  }
}
.container {
  max-width: $container-width;
  padding: 0 $gutter;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Header Elements
  ======================================================================= */

header {
  background: $header-background;
}
.logo {
  display: inline-block;
  float: left;
  padding: $gutter $gutter $gutter 0;
  width: 40px;
  & img {
    width: 100%;
  }
}

/* Footer Elements
  ======================================================================= */

footer {
  .socials {
    margin-top: 12px;
  }
  p {
    font-size: 11px;
    display: inline-block;
    float: left;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
    a {
      text-decoration: none;
      color: inherit;
      span {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
}
