/* ==========================================================================
 Global Elements.
========================================================================== */


/* Generic Global Elements
  ======================================================================= */

.container {
  max-width: $container-width;
  padding: 0 $gutter;
  margin: 0 auto;
}

.social-list-item { // Class for the social navigation without a container.
  display: inline-block;
  & a {
    background: #135058;
    text-align: center;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      & * {
        fill: #fff;
      }
    }
  }
}

/* Header Elements
  ======================================================================= */

.logo {
  display: inline-block;
  float: left;
}

nav {
  &.navigation {
    display: inline-block;
    float: left;
    width: auto;
    &--primary {
      padding: 48px 0;
      & ul {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        & li {
          float: left;
          display: block;
          padding: 0 10px;
        }
      }
    }
  }
}

/* Footer Elements
  ======================================================================= */

footer {
  .socials {
    margin-top: 12px;
  }
  p {
    font-size: 11px;
    display: inline-block;
    float: left;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 22px;
    a {
      text-decoration: none;
      color: inherit;
      span {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
}
