@media all {
  .overlay {
		display: none;
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 20;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    span {
      font-size: 0;
      display: block;
      width: 60px;
      height: 60px;
      background: #fff;
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      border-radius: 50%;
      &__previous {
        left: 0;
      }
      &__next {
        right: 0;
      }
      &__close {
    		top: 0;
    		right: 0;
    		background: rgba(255, 255, 255, 0.3);
        margin-top: 0;
      }
      & span {
        display: none;
      }
    }
    &:before {
  		content: '';
  		display: inline-block;
  		height: 100%;
  		vertical-align: middle;
    }
    &__content {
      max-width: 100%;
  		text-align: left;
  		vertical-align: middle;
  		display: inline-block;
  		overflow: hidden;
  		white-space: normal;
    }
    &__inner {
  		display: block;
  	}
  }
}