/* ==========================================================================
 Variables.
========================================================================== */

/* Global
  ======================================================================= */

$container-width: 1200px !default;
$gutter:  20px !default;

// Colours

$primary-color: #135058;
$secondary-color: #F1F2B5;

$dark-grey: #1f1f1f;

$generic-link-color: $primary-color;
$generic-link-hover-color: #000;

$nav-primary-link-color: #fff;
$nav-primary-link-hover-color: $secondary-color;

// Backgrounds

$header-background: $dark-grey;
/* Slider
  ======================================================================= */

/* Grid
  ======================================================================= */

$av-namespace:  'grid' !default;  // Prefix namespace for grid layout and items

$av-width-class-namespace:  '' !default;          // Prefix namespace for width classes. For example; 'col-'
$av-width-class-style:      'fraction' !default;  // Width class naming style. Can be 'fraction', 'percentage' or 'fragment'
$av-widths: (
  2,
  3,
  4
) !default; // Width denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate

$av-enable-responsive:  true !default;
$av-min-width: 500px;
$av-min-med-width: 801px;
$av-breakpoints:  (
  "xs":           "screen and (min-width: $av-min-width) and (max-width: 800px)",
  "xs-up":        "screen and (min-width: 500px)",
  "sm":           "screen and (min-width: $av-min-med-width) and (max-width: 1024px)",
  "sm-up":        "screen and (min-width: $av-min-med-width)",
  "lg":           "screen and (min-width: 1025px)",
  "retina":       "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)"
) !default; // Responsive breakpoints. Add/remove as appropriate

// Enable/disable grid layouts
$av-enable-grid-center:       false !default;
$av-enable-grid-item-center:  false !default;
$av-enable-grid-right:        false !default;
$av-enable-grid-middle:       false !default;
$av-enable-grid-bottom:       false !default;
$av-enable-grid-flush:        false !default;
$av-enable-grid-tiny:         false !default;
$av-enable-grid-small:        false !default;
$av-enable-grid-large:        false !default;
$av-enable-grid-huge:         false !default;
$av-enable-grid-auto:         false !default;
$av-enable-grid-rev:          false !default;
