/* ==========================================================================
 Variables.
========================================================================== */

/* Global
  ======================================================================= */

$container-width: 1200px !default;
$gutter:  20px !default;
$primary-color: #135058;

/* Slider
  ======================================================================= */

  // Default Variables

  // Slick icon entity codes outputs the following
  // "\2190" outputs ascii character "←"
  // "\2192" outputs ascii character "→"
  // "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/icons/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


/* Grid
  ======================================================================= */

$av-namespace:  'grid' !default;  // Prefix namespace for grid layout and cells
$av-gutter:     $gutter !default;    // Gutter between grid cells

$av-width-class-namespace:  '' !default;          // Prefix namespace for width classes. For example; 'col-'
$av-width-class-style:      'fraction' !default;  // Width class naming style. Can be 'fraction', 'percentage' or 'fragment'
$av-widths: (
  2,
  3,
  4
) !default; // Width denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate

$av-enable-responsive:  true !default;
$av-breakpoints:  (
  "xs":           "screen and (min-width: 500px) and (max-width: 800px)",
  "xs-up":        "screen and (min-width: 500px)",
  "sm":           "screen and (min-width: 801px) and (max-width: 1024px)",
  "sm-up":        "screen and (min-width: 801px)",
  "lg":           "screen and (min-width: 1025px)",
  "retina":       "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)"
) !default; // Responsive breakpoints. Add/remove as appropriate

// Enable/disable grid layouts
$av-enable-grid-center:       false !default;
$av-enable-grid-cell-center:  false !default;
$av-enable-grid-right:        false !default;
$av-enable-grid-middle:       false !default;
$av-enable-grid-bottom:       false !default;
$av-enable-grid-flush:        false !default;
$av-enable-grid-tiny:         false !default;
$av-enable-grid-small:        false !default;
$av-enable-grid-large:        false !default;
$av-enable-grid-huge:         false !default;
$av-enable-grid-auto:         false !default;
$av-enable-grid-rev:          false !default;